{% extends "base.html" %}
{% load static %}

{% block title %}
My Stored Posts
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "core/stored-posts.css" %}">
{% endblock %}

{% block content %}
  <section id = "stored-posts">
    {% if not has_posts %}
      <p>You didn't save any posts for later.</p>
    <ul>
      {% else %}
      {% for post in posts %}
        <li style = "list-style:none;"><a href="{% url "post" post.slug %}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
{% endblock %}
