{% extends 'base.html' %}


{% block title %}
 Reset your password
{% endblock %}

{% block css %}
<style>
  body {
    background-color: #ddd;
  }

  .forgot-password__container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 2rem;
    padding-top: 15vh;
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block content %}
<section class="forgot-password__container">
  <div class="forgot-password">
    <h3>Password reset sent</h3>
    <p>
      We've emailed you instructions for setting you password, if an account exists with the email you entered. You should receive them shortly.
    </p>
    <p>
        If you don't receive an email, please make sure you've entered the address you registred with, and check your spam folder.
    </p>
  </div>
</section>
{% endblock %}
