{% extends 'base.html' %}


{% block title %}
  Reset your password
{% endblock %}

{% block css %}
<style>
  body {
    background-color: #ddd;
  }

  .forgot-password__container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 2rem;
    padding-top: 15vh;
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block content %}
<section class="forgot-password__container">
  <div class="forgot-password">
    <h3>Password reset complete</h3>
    <p>
      Your password has been set. You may go ahead and log in now.
    </p>
    <br>
    <a class = "button" href="{% url 'sign-in' %}">Log in</a>
  </div>
</section>
{% endblock %}
